@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li style="padding-top: 8px;">
            @if (this.User.IsInRole("Admin"))
            {
                <button class="btn" onclick="location.href='@Url.Action("ManageFlags", "Picture")';return false;"><span class="glyphicon glyphicon-flag"></span> Manage Flags</button>
            }
            else
            {
                <button class="btn" onclick="location.href='@Url.Action("SubmitPicture", "Picture")';return false;"><span class="glyphicon glyphicon-plus"></span> New Roast</button>
            }
        </li>
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>

    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
